h1 {

   
    text-align: center;
    color:grey;
    margin-bottom: 30px;
    margin-bottom: 84px;
    animation-name:slidein;
    animation-duration:2s ;
    border-radius: 12px;

}

.bio {
    
    color:grey;
    padding: 1px;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 32px;
    
    
}
.Frontend_Dev {

    color: rgb(231, 106, 106);

}

.vertical_line1 {

    width: 0;
    margin: auto;
    border: 1px dotted rgba(255, 255, 255, 0.267);
    height: 130px;

}

.skills {
    background-color: rgba(19, 19, 24, 0.342);
    width: 65%;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 3rem;
}
.skills ul {
    
color: grey;
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;

}
.skills ul li {
    
    padding: 15px;
    margin: 0 19px 0 19px;
    border-radius: 4px;
    margin: 20px;
    
}
.skills ul li:hover {

background-color:  rgb(231, 106, 106);

}
h2 {
   
    padding: 5px;
    color: grey;
    margin: 40px 0 50px 0 ;
    text-align: center;
    border-radius: 12px;
    
    

}


.bio2{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 16px;
    border-radius: 12px;
    color: grey;
    margin-top: 14px;
    font-size: .75rem;
    line-height: 19px;
    background-color: rgba(16, 16, 20, 0.418);
    margin-bottom: 5rem;
}

#projects{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 35%;
    height: 12rem;
    background-color: rgba(19, 19, 24, 0.342);
    border-radius: 9px;
    margin: 0 7px ;
    font-size: .77rem; 
    transition: .5s ease-in;
    
   
    
}
#projects:hover{
    border-bottom: 4px solid rgb(231, 106, 106);
transform:scale(1.15); ;


}


.projects-container{

    margin-bottom:55px;
    display: flex;
    justify-content: center;
    
}

#ProjectDescription{
    margin-top: 9px;
    margin-bottom: 19px;
  color: grey;
}
b{
    font-weight: 700;
    color:rgb(231, 106, 106);
   
}
.project-icons{
    font-size: 17px;
    color: grey;
    }
    .project-icons :hover{
    color:rgb(231, 106, 106); 
    }
h3{ 
    color: grey;
    margin: auto;
    padding: 5px;
    width: 45%;
    margin-bottom: 30px;
    text-align: center;
    
}

.projects-2nd-row{
    display: flex;
    }

#icons{
transition: .5s ease-in;
    
}


#icons:hover{
    transform:scale(1.1) ;
        color:rgb(231, 106, 106);

}
.icons-container{
    font-size: .8rem;
    width: 50%;
    display: flex;
    margin: auto;
    padding: 2rem;
    margin-bottom: 3rem;
justify-content: center;
}
.icons-container a{

margin-top: 3rem;
display: flex;
justify-content: space-around;
 height: 1rem;
color: grey;   
padding: 2rem;
transition: .5s ease-in;
margin: auto;
justify-content: center;
align-items: center;


}

.Name{
    text-align: center;
    color: grey;
    font-size:.5rem;
    margin-bottom: 6px;
}
.Copyright{
    text-align: center;
    font-size: .6rem;
    color: rgba(77, 77, 77, 0.479);
}
.contact{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(128, 128, 128);
    font-size: .9rem;
}



/*************passover-page***********/

.passOver_Bio_title {

    color:rgb(231, 106, 106) ;
}

.PassOver_Bio {
      
   text-align: center;
   line-height: 20px; 
   font-size: 35%;
   
}
@media (max-width:800px) {
#projects{
    width: 60%;
    height: 11rem;
    margin-bottom: 3rem;
}

.projects-container{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

}
@media (max-width:694px){
   
    .skills{

        width: 100%;
    }
.bio2{
    width: 90%;
}

   
.PassOver-container{
    width: 80%;
}
}



@media (max-width:500px) {
    .projects-container{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
    }
    #projects{
        width: 100%;
        margin-bottom:3rem ;
        height: 12rem;
    }
    
    button{

        box-shadow:12px 12px 7px  rgba(31, 95, 11, 0.199);
        
    }
    header {

        border-bottom: 1px solid rgb(71, 73, 76);

    }

    body {

        padding: 0 24px 0 24px;

    }

    

    .PassOver-img-container{
        
        width: 53%;
     
    }

    
}

@media (max-width:375px) {

    body{

        padding: 0 19px 0 19px;

     }

    h1 {

        font-size:1.5rem;

    }
}


