
button{
  margin-top: 3rem;
  width: 8rem;
  background-color: initial;
  border: none;
  box-shadow:12px 12px 7px rgba(83, 81, 81, 0.322);
padding: 5px;
  color: grey;
  font-size: 1rem;
}
button:hover{
      color:rgb(231, 106, 106);

}
.img-container{
    margin-top:4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
img{
   
  max-height: 71vh;
  width: 37%;
    border-radius: 12px;
    margin-bottom: 2rem;
    box-shadow:12px 13px 1px rgba(2, 2, 2, 0.623);
    
    
}


.PassOver_Bio {
  width: 50%;
  color: grey;
  margin: auto;
 line-height: 20px; 
 font-size: 35%;
 margin-top: 3rem;
 
}

@media (max-width:554px){
  img{
    width:270px;
  }  

  .PassOver_Bio {
    width:70%;
  }
}